*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  background: linear-gradient(90deg, #ac523c, #dd6060, #80726e);
  font-size: 1.1rem;
  font-family: "Quicksand", sans-serif;
  height: 100%;
}
